.headerContainer {
    background: var(--gradient-purple);
    height: 12.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2rem 0 0 0;


    gap: 0.5rem;
}

.taskInput {
    color: var(--grey-300);
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--grey-500);
    width: 39.875rem;
    height: 3.375rem;
    padding: 0 1rem;
    border: 1px solid var(--grey-700);
}

.addButton {
    color: var(--grey-100);
    font-size: 14px;
    background-color: var(--blue-dark);
    border-radius: 8px;
    width: 5.625rem;
    height: 3.25rem;
    padding: 0 1rem;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: 0.3s;
}

.addButton:hover {
    transform: scale(1.04);
}

.pSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: 4rem 0 2rem 0;
    font-size: 14px;
}

.firstP {
    color: var(--blue);
}

.secondP {
    color: var(--purple);
}

.firstP span,
.secondP span {
    color: var(--grey-200);
    background-color: var(--grey-400);
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.tasksList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    margin: 1.5rem auto;
    gap: 1rem;
    max-width: 50rem;

}

.taskItem {
    display: flex;
    justify-content: space-between;
    width: calc(33% - 1rem);
    width: 15.625rem;
    height: 8rem;
    background-color: var(--grey-500);
    margin: 0.75rem 0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--grey-400);
    color: var(--grey-100);
    font-size: 14px;
    box-sizing: border-box;
}

.isCompleted {
    display: flex;
    justify-content: space-between;
    width: calc(33% - 1rem);
    width: 15.625rem;
    height: 8rem;
    background-color: var(--grey-400);
    margin: 0.75rem 0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--grey-400);
    color: var(--grey-100);
    font-size: 14px;
    box-sizing: border-box;
}

.isCompleted textarea {
    cursor: not-allowed;
    opacity: 0.5;
}

.taskContentInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputDescription {
    color: var(--grey-300);
    border-radius: 8px;
    background-color: var(--grey-500);
    border: 1px solid var(--grey-300);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    font-family: var(--font);
    resize: none;
    width: 9vw;
    height: 7vh;
    box-sizing: border-box;
}

.inputAndTrash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px var(--blue);
}

.checkBox div {
    width: 1rem;
    height: 1rem;
    background-color: var(--blue);
    top: -1rem;
    left: -1rem;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked+div {
    left: -0.5rem;
    top: -0.5rem;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 2rem;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: var(--grey-300);
    cursor: pointer;
    transition: 0.2s;
}

.deleteButton:hover {
    transform: scale(1.08);
    color: var(--purple);
}

.emptyState {
    color: var(--grey-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.5rem 1.5rem;
    width: 100%;
    border-top: 1px solid var(--grey-400);
    border-radius: 8px;
}

.emptyIcon {
    opacity: 0.5;
}

.emptyTextBold {
    font-weight: 800;
    font-size: 16px;
    margin-top: 1rem;
}