:root {
  --blue-dark: #1E6F9F;
  --blue: #4EA8DE;
  --purple-dark: #5E60CE;
  --purple: #8284FA;
  --gradient-purple: linear-gradient(90deg, #0C1C40 0%, #4441AD 100%);
  --grey-700: #0D0D0D;
  --grey-600: #1A1A1A;
  --grey-500: #262626;
  --grey-400: #333333;
  --grey-300: #808080;
  --grey-200: #D9D9D9;
  --grey-100: #F2F2F2;
  --danger: #E25858;

  --font: 'Inter';
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--grey-600);
  font-family: var(--font);
  line-height: 140%;
}

